---
import SansDarkLayout from "../layouts/SansDarkLayout.astro";
---
<SansDarkLayout title="Faustian Future" description="A webzine about technology, power, and the future.">
  <h1>Faustian Future</h1>
  <p>A webzine about technology, power, and the future.</p>
</SansDarkLayout>
